.container{
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
    margin-top: 70px;
}
.first{
    padding: 20px 30px;
    background-color: #1E90FF;
    text-transform: capitalize;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffff;
}
.second{
    /* border: 1px solid red; */
    padding: 20px 30px;
    background-color: #f9f9f9;
    padding: 35px; 
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.active{
    color : #1E90FF;
}
.user-icons,.computer-icons {
    font-size: 80px;
    text-decoration: none;
    color : black;
    margin-right: 15px;
    list-style: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refresh{
  font-size: 30px;
  margin-top: 30px;
}
.selected{
    font-size: 140px;
    background-color: orange;
    border-radius: 100%;
}
.result{
    /* color: green; */
    text-align: center;
}