/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.container{
    background-color: #F2F4F8;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
h1{
    font-size: 46px;
}
.display{
    background-color: black;
    color: white;
    padding: 1.0rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 10px;
    font-weight: 800;
    margin-top: 20px;
}

.grid-container{
    margin: 0 auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap:18px;
    width: 100%;
    margin-bottom: 30px;
    grid-template-areas: 
     "plus minus multiply divide"
     "seven eight nine equal"
     "four five six equal"
     "one two three equal"
     "dot zero clear equal";
}
.operator{
   background-color: #700133;
   color: #ffffff;
   border: none;
   border-radius: 8px;
   padding: 14px;
   font-size: 46px;
}
.number {
    background-color: #CFCFCF;
   color: #ffffff;
   border: none;
   border-radius: 8px;
   padding: 14px;
   font-size: 38px;
}
.number:hover{
    background-color: grey;
    border: 1px solid blueviolet;
}

.clear{
    background-color: #3D1B10;
    color: #ffffff;
   border: none;
   border-radius: 8px;
   padding: 14px;
   font-size: 36px;
   
}
.equal{
    background-color: #018080;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 14px 22px;
    font-size: 36px;
    height: 210%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}