/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1{
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  background-color: aqua;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.form-control{
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    text-transform: capitalize;
    position: relative ;
}
.form-control input{
  width: 100%;
  border : 2px solid black;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

/* .form-control i {
  position: absolute;
  top: 34px;
  right: 10px;
  visibility: hidden;
} */


.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible; 
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
   visibility: visible; 
} 

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}
.form-control.error small{
  color: #e74c3c;
  visibility: visible;
}
.form-control.success small{
  color: #2ecc71;
  visibility: visible;
} 
.btn{
    font-size: 12px;
    padding: 8px 128px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: block;
    background-color: rgb(241, 101, 8);
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}





